h1 {
    text-align: center;
    font-size: x-large;
    color: brown;
}

.imagem_recife_antigo 
{
  width: 400px;
}
.imagem_francisco
{
  width: 400px;
}

.imamgem_marco
{
  width: 400px;
}